CompileFlags:
  Add:
    - --target=x86_64-w64-mingw32
    - -Wall
    - -Wno-sign-compare
    - -Wno-char-subscripts
    - -Wno-reorder
    - -Wno-parentheses
    - -Wno-unknown-pragmas
    - -lm
    - -Iinclude
Completion:
  HeaderInsertion: Never

---

If:
  PathMatch: .*\.c$
CompileFlags:
  Add:
    - -std=gnu17
    - -include=D:/coding/c++/workspace/include/common-c.h
    - -Wno-c++-compat
    - -Wno-main
    - -Wno-implicit-int

---

If:
  PathMatch: .*\.cpp$
CompileFlags:
  Add:
    - -std=gnu++26
    - -include=D:/coding/c++/workspace/include/common-cpp.h